# MongoDB Configuration
MONGODB_CONNECTION_STRING=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&ssl=true
MONGODB_DATABASE_NAME=your_database_name

# Collection Names
COLLECTION_NEWS_DATA=news_data

# File Paths
CACHE_DIR=/app/cache
NEWS_OUTPUT_PREFIX=/app/cache/news/news_data_

# Scraping Configuration
CHROME_URL=http://chrome:4444/wd/hub
SELENIUM_TIMEOUT=30
MAX_RETRY_ATTEMPTS=3
RETRY_DELAY=5 